.button {
    display: inline-block;
    width: 189px;
    height: 48px;
    flex-shrink: 0;
    margin: 5px;
    background-color: var(--white);
    color: var(--grey-4);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    }
  
  .button_primary {
    background: var(--blue-2);
    color: var(--white);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
  }
  
  .button_primary:hover {
    background: var(--blue-3);
  }
  
  .button_secondary {
    background: var(--secondary);
    color: var(--white);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
  }
  
  .button_secondary:hover {
    background: var(--purple-2);
  }
  
  .button_alternate {
    border: 1px solid var(--grey-6);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
  }
  
  .button_alternate:hover {
    border: 1px solid var(--grey-7);
  }
  
  .button_disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  